In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df=pd.read_csv('/content/FakeJobBal.csv')

In [7]:
df.head()

,Unnamed: 0,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,16530,16531,Title Insurance: Title Assistant / Title Coord...,"US, NJ, Newark",NaN,NaN,#URL_e7c9057d5e6f097876436d175031e95669ede4eba...,A large national Title Insurance /Real Estate ...,NaN,NaN,0,1,0,Full-time,NaN,NaN,Real Estate,Research,0
1,17813,17814,Customer Service Representative,"US, PA, Philadelphia",Customer Service,30000-50000,Gary Cartwright established Cartwright Propert...,We are Seeking a candidate whose core values i...,Home Computer with Internet AccessBasic Comput...,"Weekly pay, PTO, Paid Holidays, 401 k",1,1,0,Full-time,Entry level,High School or equivalent,Real Estate,Customer Service,1
2,657,658,Outside Sales Professional-Fargo,"US, ND, Fargo",NaN,NaN,"ABC Supply Co., Inc. is the nation’s largest w...","As an Outside Sales Representative, you will d...","As an Outside Sales Representative, you must h...","As an Outside Sales Representative, you will r...",0,1,0,Full-time,NaN,NaN,Building Materials,NaN,0
3,17601,17602,Payroll Clerk,"US, NY, New York",NaN,NaN,NaN,We are seeking a full time payroll clerk to ma...,• High school diploma or equivalent• Exc...,Citi Trends is a great place to build a fun an...,0,0,0,Full-time,NaN,High School or equivalent,Apparel & Fashion,Accounting/Auditing,1
4,17664,17665,Data Entry Admin/Clerical Positions - Work Fro...,"US, CA, Visalia",NaN,NaN,NaN,ACCEPTING ONLINE APPLICATIONS ONLYClick Here T...,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,1

In [ ]:
df.columns

Index(['Unnamed: 0', 'job_id', 'title', 'location', 'department',
       'salary_range', 'company_profile', 'description', 'requirements',
       'benefits', 'telecommuting', 'has_company_logo', 'has_questions',
       'employment_type', 'required_experience', 'required_education',
       'industry', 'function', 'fraudulent'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1732 entries, 0 to 1731
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1732 non-null   int64
 1   job_id               1732 non-null   int64
 2   title                1732 non-null   object
 3   location             1696 non-null   object
 4   department           651 non-null    object
 5   salary_range         359 non-null    object
 6   company_profile      1031 non-null   object
 7   description          1731 non-null   object
 8   requirements         1467 non-null   object
 9   benefits             1039 non-null   object
 10  telecommuting        1732 non-null   int64
 11  has_company_logo     1732 non-null   int64
 12  has_questions        1732 non-null   int64
 13  employment_type      1333 non-null   object
 14  required_experience  971 non-null    object
 15  required_education   904 non-null    object
 16  industry             1231 non-null   object
 17  function             1095 non-null   object
 18  fraudulent           1732 non-null   int64
dtypes: int64(6), object(13)
memory usage: 257.2+ KB

In [ ]:
df.isnull().sum()

title                      0
department                 0
telecommuting              0
has_company_logo           0
has_questions              0
employment_type            0
required_experience        0
required_education         0
industry                   0
function                   0
fraudulent                 0
location_missing           0
location_incomplete        0
salary_missing             0
salary_suspicious          0
company_post_count         0
low_company_activity       0
description_post_count     0
reused_description         0
benefits_post_count        0
reused_benefits            0
requirements_post_count    0
reused_requirements        0
dtype: int64

In [ ]:
df['employment_type'].value_counts()
#df['employment_type'].shape

employment_type
Full-time    1069
Contract      116
Part-time     103
Other          27
Temporary      18
Name: count, dtype: int64

In [ ]:
df['employment_type'] = df['employment_type'].fillna('Missing')

In [ ]:
df.drop(columns=['Unnamed: 0'] ,inplace=True)

In [ ]:
df.head()

,title,telecommuting,has_company_logo,has_questions,fraudulent,location_missing,location_incomplete,salary_missing,salary_suspicious,company_post_count,...,function_Public Relations,function_Purchasing,function_Quality Assurance,function_Research,function_Sales,function_Science,function_Strategy/Planning,function_Supply Chain,function_Training,function_Writing/Editing
0,title insurance title assistant title coordina...,0,1,0,0,0,0,1,0,3.0,...,False,False,False,True,False,False,False,False,False,False
1,customer service representative,1,1,0,1,0,0,0,0,12.0,...,False,False,False,False,False,False,False,False,False,False
2,outside sales professionalfargo,0,1,0,0,0,0,1,0,6.0,...,False,False,False,False,False,False,False,False,False,False
3,payroll clerk,0,0,0,1,0,0,1,0,0.0,...,False,False,False,False,False,False,False,False,False,False
4,data entry adminclerical positions work from home,0,0,0,1,0,0,1,0,0.0,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df['reused_requirements'].value_counts()

reused_requirements
0    1520
1     212
Name: count, dtype: int64

In [ ]:
df['description_post_count'].isnull().sum()

np.int64(1)

In [ ]:
df.drop(columns=['job_id'], inplace=True)

In [ ]:
df['function'].value_counts()

function
Engineering               180
Administrative            151
Customer Service          123
Sales                     115
Information Technology    105
Marketing                  56
Other                      42
Accounting/Auditing        38
Finance                    28
Management                 27
Business Development       27
Design                     25
Project Management         20
Human Resources            17
Education                  16
Health Care Provider       14
Quality Assurance          10
Consulting                 10
Art/Creative                9
Advertising                 9
Data Analyst                8
Public Relations            8
Manufacturing               7
Research                    6
Business Analyst            6
Production                  6
Financial Analyst           6
General Business            5
Distribution                4
Product Management          4
Writing/Editing             4
Purchasing                  2
Strategy/Planning           2
Legal                       2
Science                     1
Supply Chain                1
Training                    1
Name: count, dtype: int64

In [ ]:
df['function'] = df['function'].fillna('Missing')

In [ ]:
df.drop(columns=['job_id'], inplace=True)

In [ ]:
df['department'] = df['department'].fillna('Missing')

In [ ]:
df['required_experience'] = df['required_experience'].fillna('Missing')

In [ ]:
df['required_education'] = df['required_education'].fillna('Missing')

In [ ]:
freq = df['industry'].value_counts()
rare = freq[freq < 10].index   # anything appearing <10 times

df['industry'] = df['industry'].replace(rare, 'Other')

In [ ]:
df['industry'] = df['industry'].fillna('Missing')

In [21]:
# 1. Fill missing titles
df['title'] = df['title'].fillna('')

df['title'] = df['title'].str.lower()
df['title'] = df['title'].str.replace('[^a-zA-Z ]', '', regex=True)
df['title'] = df['title'].str.replace(r'\s+', ' ', regex=True)


# 3. Convert titles into numeric form (TF-IDF)
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(
    stop_words='english',
    max_features=3000
)

X_title = tfidf.fit_transform(df['title'])

In [22]:
X_title

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 5874 stored elements and shape (1732, 1252)>

In [ ]:
# 1. Flag missing location
df['location_missing'] = df['location'].isnull().astype(int)

# 2. Flag incomplete / suspicious location (like "US, ,")
df['location_incomplete'] = df['location'].str.contains('US, ,', na=False).astype(int)

# 3. Remove the original location text
df.drop(columns=['location'], inplace=True)

In [ ]:
df['salary_missing'] = df['salary_range'].isnull().astype(int)
df['salary_suspicious'] = df['salary_range'].str.contains('0-0|500000|1000000', na=False).astype(int)

In [ ]:
df.drop(columns=['salary_range'], inplace=True)

In [ ]:
company_counts = df['company_profile'].value_counts()

In [ ]:
df['company_post_count'] = df['company_profile'].map(company_counts)
df['low_company_activity'] = (df['company_post_count'] <= 2).astype(int)

In [ ]:
df.drop(columns=['company_profile'], inplace=True)

In [ ]:
df['company_post_count'] = df['company_post_count'].fillna(0)

In [ ]:
desc_counts = df['description'].value_counts()
df['description_post_count'] = df['description'].map(desc_counts)
df['reused_description'] = (df['description_post_count'] > 3).astype(int)

In [ ]:
df.drop(columns=['description'], inplace=True)

In [ ]:
benefit_counts = df['benefits'].value_counts()
df['benefits_post_count'] = df['benefits'].map(benefit_counts)
df['reused_benefits'] = (df['benefits_post_count'] > 3).astype(int)
df.drop(columns=['benefits'], inplace=True)

In [ ]:
df['benefits_post_count'] = df['benefits_post_count'].fillna(0)

In [ ]:
req_counts = df['requirements'].value_counts()
df['requirements_post_count'] = df['requirements'].map(req_counts)
df['requirements_post_count'] = df['requirements_post_count'].fillna(0)
df['reused_requirements'] = (df['requirements_post_count'] > 3).astype(int)
df.drop(columns=['requirements'], inplace=True)

In [ ]:
df['description_post_count'] = df['description_post_count'].fillna(0)

In [ ]:
cat_cols = [
    'employment_type',
    'required_experience',
    'required_education',
    'department',
    'industry',
    'function'
]
df = pd.get_dummies(df, columns=cat_cols, drop_first=True)

In [ ]:
df.dtypes

title                         object
telecommuting                  int64
has_company_logo               int64
has_questions                  int64
fraudulent                     int64
                               ...
function_Science                bool
function_Strategy/Planning      bool
function_Supply Chain           bool
function_Training               bool
function_Writing/Editing        bool
Length: 352, dtype: object

In [8]:
X_num = df.drop(columns=['fraudulent','title'])

y = df['fraudulent']

In [16]:
X_num = X_num.select_dtypes(include=['number'])

In [17]:
bad_cols = X_num.columns[X_num.dtypes == 'object']
bad_cols

Index([], dtype='object')

In [18]:
# Convert everything to float
X_num = X_num.astype(float)

In [19]:
from scipy.sparse import csr_matrix
X_num_sparse = csr_matrix(X_num.to_numpy())

In [23]:
from scipy.sparse import hstack
x = hstack([X_title, X_num_sparse])

In [ ]:
x
y

0       0
1       1
2       0
3       1
4       1
       ..
1727    1
1728    1
1729    0
1730    1
1731    1
Name: fraudulent, Length: 1732, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [25]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=1000)
model.fit(x_train, y_train)

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=1000)

In [26]:
y_pred = model.predict(x_test)

In [27]:
from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(y_test, y_pred))

[[142  23]
 [ 38 144]]

In [28]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.86      0.82       165
           1       0.86      0.79      0.83       182

    accuracy                           0.82       347
   macro avg       0.83      0.83      0.82       347
weighted avg       0.83      0.82      0.82       347